.kanban-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.kanban-table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 48%;
  /* Adjust width to ensure both tables fit side by side */
}

.kanban-table th,
.kanban-table td {
  border: 1px solid black;
  padding: 3px;
  text-align: center;
}

.header {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}

.form-number {
  position: absolute;
  top: 1px;
  /* Adjust top position as needed */
  right: 10px;
  /* Adjust right position as needed */
  border: 1px solid black;
  padding: 5px;
}
