/* Import AdminLTE styles*/
@import "~admin-lte/plugins/select2/css/select2.min.css";
@import '~admin-lte/dist/css/adminlte.min.css';
@import "~daterangepicker/daterangepicker.css";

/* Import Font Awesome styles */
@import '@fortawesome/fontawesome-free/css/all.min.css';
@import '~dragula/dist/dragula.css';
@import 'status-colors';

.badge-orange {
    background-color: #f8cbad;
}

.hide-on-hover {
    display: none;
}

a:hover .hide-on-hover {
    display: block;
}

table.table-bordered {
    border: 1px solid black;
    margin-top: 20px;
}

table.table-bordered>thead>tr>th {
    border: 1px solid black;
}

table.table-bordered>tbody>tr>td {
    border: 1px solid black;
}

.text-ellipsis {
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.minimal-padding td {
    padding: 0.1rem;
    /* Sesuaikan nilai padding sesuai kebutuhan */
}

.dataTables_wrapper .dataTables_paginate {
    margin-left: 20px;
    margin-top: 20px;
    /* Atur jarak sesuai kebutuhan Anda */
}

.fullscreen-container {
    align-items: flex-start;
    /* Perbaiki agar konten dimulai dari atas */
    justify-content: flex-start;
    /* Mulai dari atas */
    background-color: #f0f0f0;
    /* Light gray background */
    transition: height 0.3s ease;
    /* Smooth transition */
}

.schedule-production {
    width: 100%;
    height: 100%;
}

/* Ensure the background color persists in fullscreen mode */
:fullscreen .fullscreen-container {
    max-height: calc(100vh - 100px);
    background-color: #f0f0f0;
    /* Light gray background */
}

.planning-title {
    font-size: 2rem;
    font-weight: bold;
    color: #007bff;
    /* Warna biru sesuai dengan class text-primary */
    margin-bottom: 10px;
}

/* Class untuk span yang menampilkan waktu dan tanggal */
.current-time {
    font-size: 1rem;
    color: #6c757d;
    /* Warna abu-abu lebih lembut */
    display: block;
    margin-top: 5px;
}

.planning-divider {
    background-color: #007bff;
    /* Warna biru sesuai dengan bg-primary */
    height: 2px;
    /* Tinggi garis */
    border: none;
    /* Menghilangkan border default pada hr */
}

.zoom-responsive {
    font-size: 1rem;
    /* Sesuaikan font-size di perangkat kecil jika diperlukan */
}

.machine-card {
    font-size: calc(0.4rem + 0.5vw);
    width: 180px;
    /* Default width */
    padding: 2px;
}

.fullscreen .machine-card {
    font-size: calc(0.38rem + 0.4vw);
    min-width: 200px;
    width: auto;
    padding: 2px;
}

.fullscreen .machine-info {
    font-size: calc(0.4rem + 0.5vw);
}

#printable {
    width: 75%;
    margin: auto;
}

@media print {

    table.table-bordered {
        border: 1px solid black !important;
        margin-top: 20px !important;
    }

    table.table-bordered>thead>tr>th {
        border: 1px solid black !important;
    }

    table.table-bordered>tbody>tr>td {
        border: 1px solid black !important;
        padding: 5px !important;
    }

    #printable {
        width: 100%;
    }
}

@media (min-width: 3900px) {
    .zoom-responsive {
        font-size: 1.9rem;
        /* Sesuaikan font-size di perangkat kecil jika diperlukan */
    }

    .planning-title {
        font-size: 4.5rem;
        font-weight: bold;
        color: #007bff;
        /* Warna biru sesuai dengan class text-primary */
        margin-bottom: 10px;
    }

    /* Class untuk span yang menampilkan waktu dan tanggal */
    .current-time {
        font-size: 3rem;
        color: #6c757d;
        /* Warna abu-abu lebih lembut */
        display: block;
        margin-top: 5px;
    }

    .planning-divider {
        height: 3px;
        /* Tinggi garis lebih tebal untuk layar besar */
        margin-top: 5px;
    }

    .machine-card {
        width: 100px;
    }

}

@media (min-width: 4100px) {
    .zoom-responsive {
        font-size: 3rem;
        /* Sesuaikan font-size di perangkat kecil jika diperlukan */
    }

    .planning-title {
        font-size: 5.5rem;
        font-weight: bold;
        color: #007bff;
        /* Warna biru sesuai dengan class text-primary */
        margin-bottom: 10px;
    }

    /* Class untuk span yang menampilkan waktu dan tanggal */
    .current-time {
        font-size: 3.5rem;
        color: #6c757d;
        /* Warna abu-abu lebih lembut */
        display: block;
        margin-top: 5px;
    }

    .planning-divider {
        height: 4px;
        /* Tinggi garis lebih tebal lagi untuk layar sangat besar */
    }

    .machine-card {
        width: 100px;
    }
}