.floating-buttons {
    position: fixed;
    bottom: 20px; /* Jarak dari bawah footer */
    left: 50%;
    transform: translateX(-50%); /* Agar tombol berada di tengah halaman */
    z-index: 10; /* Agar tombol tetap di atas konten lain */
    display: inline-flex; /* Menyesuaikan lebar dengan konten */
    gap: 10px; /* Jarak antar status-square-wrapper */
    padding: 10px; /* Padding untuk kenyamanan */
    background-color: rgba(0, 0, 0, 0.8); /* Background semi-transparan opsional */
    border-radius: 10px; /* Membuat sudut melengkung */
}

.status-square-wrapper {
    display: flex;
    align-items: center; /* Posisikan kotak dan teks secara vertikal */
    gap: 5px; /* Jarak antara kotak dan teks */
}

.status-square {
    width: 20px; /* Lebar kotak */
    height: 20px; /* Tinggi kotak */
    border: 2px solid black; /* Border hitam */
    border-radius: 5px; /* Membuat sudut sedikit melengkung */
    background-color: white; /* Warna background kotak */
}

.status-text {
    color: white; /* Warna teks hitam */
    font-weight: bold; /* Teks bold */
}

/* Status Colors */
.btn-all {
    color: #fff;
    background-color: #6c757d; /* Abu-abu gelap */
    border-color: #6c757d;
}

.btn-created {
    color: #fff;
    background-color: #add8e6; /* Biru muda */
    border-color: #add8e6;
}

.btn-planning {
    color: #fff;
    background-color: #8a63d2; /* Ungu yang lebih lembut */
    border-color: #8a63d2;
}

.btn-prepare {
    color: #fff;
    background-color: #fd7e14; /* Oranye */
    border-color: #fd7e14;
}

.btn-process {
    color: #fff;
    background-color: #007bff; /* Biru terang */
    border-color: #007bff;
}

.btn-finished {
    color: #fff;
    background-color: #28a745; /* Hijau */
    border-color: #28a745;
}

.btn-packing {
    color: #fff;
    background-color: #00ffff; /* Cyan */
    border-color: #00ffff;
}

.btn-delivered {
    color: #fff;
    background-color: #20c997; /* Teal */
    border-color: #20c997;
}

.btn-completed {
    color: #fff;
    background-color: #003366; /* Biru tua */
    border-color: #003366;
}

.btn-hold {
    color: #fff;
    background-color: #ffc107; /* Hijau muda */
    border-color: #ffc107;
}

.btn-canceled {
    color: #fff;
    background-color: #dc3545; /* Merah */
    border-color: #dc3545;
}

.btn-running {
    color: #fff;
    background-color: #17a2b8; /* Biru kebiruan */
    border-color: #17a2b8;
    animation: blink-animation 2s infinite;
}

/* Hover States */
.btn-all:hover {
    background-color: #5a6268; /* Abu-abu lebih gelap */
    border-color: #5a6268;
}

.btn-created:hover {
    background-color: #87ceeb; /* Biru langit lebih gelap */
    border-color: #87ceeb;
}

.btn-planning:hover {
    background-color: #6f42c1; /* Ungu lebih tua */
    border-color: #6f42c1;
}

.btn-prepare:hover {
    background-color: #e06d06; /* Oranye lebih tua */
    border-color: #e06d06;
}

.btn-process:hover {
    background-color: #0056b3; /* Biru lebih tua */
    border-color: #0056b3;
}

.btn-finished:hover {
    background-color: #218838; /* Hijau lebih tua */
    border-color: #218838;
}

.btn-packing:hover {
    background-color: #00bcd4; /* Cyan lebih gelap */
    border-color: #00bcd4;
}

.btn-delivered:hover {
    background-color: #1b8a6b; /* Teal lebih gelap */
    border-color: #1b8a6b;
}

.btn-completed:hover {
    background-color: #002244; /* Biru tua lebih gelap */
    border-color: #002244;
}

.btn-hold:hover {
    background-color: #e0a800; /* Hijau muda lebih gelap */
    border-color: #e0a800;
}

.btn-canceled:hover {
    background-color: #c82333; /* Merah lebih tua */
    border-color: #c82333;
}

.btn-running:hover {
    background-color: #138496; /* Biru kebiruan lebih gelap */
    border-color: #138496;
}

@keyframes blink-animation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
